{# templates/emails/registration.html.twig #}
<h3>Validation de votre compte Ujob!</h3>

Hi {{ name }}! You're successfully registered.

{# example, assuming you have a route named "login" #}
<p>Username:{{ user.username }}</p>.
<p>Password:{{ user.password }}</p>.
<p>Confirmepasswod:{{ user.confirmepassword }}</p>.
<p>telephone:{{ user.telephone }}</p>.
<p>telephone1:{{ user.telephone1 }}</p>.


