{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceurController!{% endblock %}

{% block body %}
{% for message in app.flashes('message') %}
  
    <div class="alert alert-success" role="alert">
    {{ message }}
    </div>
{% endfor %}
<h1>Bienvenue</h1>
{{ form(annonceurForm) }}
{% endblock %}